.content {
    background:rgba(0, 0, 0, 0.90);
    border-style: solid;
    border-color: rgba(30, 30, 30, 0.3);
    border-width: 5px;
    max-width:1200px;
    max-height:750px;
    height:75vh;
    position: relative;
    z-index: 1;
  }
